version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: readzy-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: readzy-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    environment:
      # IMPORTANT: use service name 'mongo'
      MONGO_URI: mongodb://mongo:27017/readzy

volumes:
  mongo_data:
